<p-card>
    <p-toast></p-toast>
    <p-table [value]="products" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div fxLayout="row" fxLayoutAlign="space-between cente" >
            <h4> Book List</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between cente">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input type="text" pInputText (keyup)="search()" [(ngModel)]="searchTerm" placeholder="Search">         
            </span>
              <p-button (click)="showPositionDialog()" icon="pi pi-plus" label="New" styleClass="p-button-info"></p-button>
           </div>
           <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Published Year</th>
                <th>Stock</th>
                <th style="text-align: center;">Check out</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.bookID}}</td>
                <td>{{product.title}}</td>
                <td>{{product.author}}</td>
                <td>{{product.genreId}}</td>
                <td>{{product.publishedYear}}</td>
                <td>{{product.stock}}</td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                </td>
            </tr>
        </ng-template>
        <p-paginator [rows]="1" [totalRecords]="100"></p-paginator>
    </p-table>
</p-card>
    
<p-dialog [(visible)]="displayPosition" [position]="position"  [style]="{width: '500px'}" header="Book Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <form action=""  [formGroup]="this.BooksForm" >
                 <!-- <div class="row">
                        <pre>{{this.BooksForm.value | json}}</pre>
                    </div> -->
            <div class="field">
                <label for="name">Title</label>
                <input type="text" formControlName="title"  pInputText  equired autofocus />
            </div>
            <div class="field">
                <label for="inventoryStatus">Genre</label>
                <p-dropdown [options]="GenresList"  formControlName="genreId" optionValue="genreId" optionLabel="name" optionDisabled="inactive"></p-dropdown>
            </div>
            <div class="field">
                <label for="name">Author</label>
                <input type="text" pInputText formControlName="author" required />
            </div>
            <div class="field">
                <label for="name">Published Year</label>
                <input type="text" pInputText  formControlName="publishedYear" required />
            </div>
            <div class="field">
                <label for="name">Copies</label>
                <p-inputNumber formControlName="stock"></p-inputNumber>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" (click)="displayPosition=false"  class="p-button-text  btn-danger" ></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveBook()"></button>
    </ng-template>
</p-dialog>

