<p-card>
    <p-table [value]="products" styleClass="p-datatable-sm" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div fxLayout="row" fxLayoutAlign="space-between cente" >
            <h4> Book List</h4>
               <p-button (click)="showPositionDialog()" icon="pi pi-plus" label="New" styleClass="p-button-info"></p-button>
           </div>
           <!-- <p-button (click)="showDialog()" icon="pi pi-external-link" label="Show"></p-button> -->
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Code</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Published Year</th>
                <th>Stock</th>
                <th style="text-align: center;">Check out</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                <td>{{product.bookID}}</td>
                <td>{{product.title}}</td>
                <td>{{product.author}}</td>
                <td>{{product.genreId}}</td>
                <td>{{product.publishedYear}}</td>
                <td>{{product.stock}}</td>
                <td style="text-align: center;">
                    <button pButton pRipple type="button" icon="pi pi-check" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                </td>
            </tr>
        </ng-template>
        <p-paginator [rows]="1" [totalRecords]="100"></p-paginator>
    </p-table>
</p-card>
<p-dialog header="Godfather I" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}"
    [draggable]="false" [resizable]="false">
    <p>The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding.
        His beloved son Michael has just come home from the war, but does not intend to become part of his father's business.
        Through Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family,
        kind and benevolent to those who give respect,
        but given to ruthless violence whenever anything stands against the good of the family.</p>
        <ng-template pTemplate="footer">
            <p-button icon="pi pi-check" (click)="close()" label="Save" styleClass="p-button-text"></p-button>
            <p-button icon="pi pi-check" (click)="displayPosition=false" label="Close" styleClass="p-button-text"></p-button>
        </ng-template>
</p-dialog>
